In [1]:
import zipfile
import os


zip_file_path = r"C:\Users\Lenovo\Downloads\bank+marketing.zip"
extract_dir = r"C:\Users\Lenovo\Downloads\bank+marketing\bank"


with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)


extracted_files = os.listdir(extract_dir)
extracted_files

['bank-additional.zip',
 'bank-full.csv',
 'bank-names.txt',
 'bank.csv',
 'bank.zip']

In [2]:

inner_extract_dirs = [os.path.join(extract_dir, "bank"), os.path.join(extract_dir, "bank_additional")]

for inner_zip, inner_dir in zip(["bank.zip", "bank-additional.zip"], inner_extract_dirs):
    with zipfile.ZipFile(os.path.join(extract_dir, inner_zip), 'r') as zip_ref:
        zip_ref.extractall(inner_dir)


bank_files = os.listdir(inner_extract_dirs[0])
bank_additional_files = os.listdir(inner_extract_dirs[1])

bank_files, bank_additional_files

(['bank-full.csv', 'bank-names.txt', 'bank.csv'],
 ['bank-additional', '__MACOSX'])

In [3]:
import pandas as pd


bank_full_path = os.path.join(inner_extract_dirs[0], "bank-full.csv")


bank_data = pd.read_csv(bank_full_path, sep=";")  
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report


bank_data_encoded = bank_data.copy()
label_encoders = {}

for col in bank_data_encoded.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    bank_data_encoded[col] = le.fit_transform(bank_data_encoded[col])
    label_encoders[col] = le  


X = bank_data_encoded.drop(columns=['y'])  
y = bank_data_encoded['y'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train
        
y_pred = clf.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

accuracy, classification_rep

(0.8740462235983634,
 '              precision    recall  f1-score   support\n\n           0       0.93      0.93      0.93      7952\n           1       0.48      0.48      0.48      1091\n\n    accuracy                           0.87      9043\n   macro avg       0.70      0.70      0.70      9043\nweighted avg       0.87      0.87      0.87      9043\n')